$primary-color: #39af78;
$secondary-color: #314866;
$white: #fff;
$black: #000;
$gray: #96a9ad;
$sidebar-color: #f7f7f7;

$default-font: Arial, sans-serif;
$default-font-size: 16px;

$bold-font-weight: 600;
